.button {
    padding: 12px 16px;
    background-color: var(--color-text-super-dim);
    backdrop-filter: blur(30px);
    border: none;
    border-radius: 50px;
    color: var(--color-text);
    font-size: 14px;
    line-height: 120%;

    @include hover {
        background-color: var(--color-red);
    }

    &--big {
        padding: 24px 40px;
        font-size: 18px;
        
        @include custom-width(1100px) {
            padding: 12px 20px;
            font-size: 16px;
        }

        @include custom-width(350px) {
            font-size: 14px;
        }
    }

    &--gradient {
        background: linear-gradient(120deg, var(--color-blue), var(--color-red));
        backdrop-filter: none;
    }
}