.soc1al-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    background-color: var(--color-text-dim);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    color: var(--color-text);

    @include hover {
        background-color: var(--color-red);
    }

    &--big {
        height: 70px;
        width: 70px;
        
        @include custom-width(1100px) {
            height: 43px;
            width: 43px;
        }

        & svg {
            height: 28px;
            width: 28px;

            @include custom-width(1100px) {
                height: 20px;
                width: 20px;
            }
        }
    }
}