body {
    height: 4000px;
    background-color: var(--color-bg);
    font-family: var(--font-family-primary);
    font-weight: 400;
}

a {
    text-decoration: none;
}

a, button, input:where([type="checkbox"]), label {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

a, button, input, textarea {
    transition: all var(--transition-duration);
}

h2, h3, h4 {
    font-family: var(--font-family-secondary);
    font-weight: 400;
    line-height: 100%;
}

textarea {
    resize: none;
}