.container {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
    
    @include mobile-small {
        --container-padding-x: 16px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.mobile-hidden {
    @include mobile {
        display: none !important;
    }
}

.mobile-visible {
    @include mobile-above {
        display: none !important;
    }
}

.tablet-hidden {
    @include tablet {
        display: none !important;
    }
}

.desktop-hidden {
    @include tablet-above {
        display: none !important;
    }
}