:root {
    --color-bg: #011224;
    --color-text: rgba(255, 255, 255, 1);
    --color-text-semi-dim: rgba(255, 255, 255, 0.7);
    --color-text-dim: rgba(255, 255, 255, 0.2);
    --color-red: #D51117;
    --color-red-semi-dim: #FD554B;

    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Bebas Neue', sans-serif;

    --container-width: 1400px;
    --container-padding-x: 30px;

    --transition-duration: 0.3s;
}