:root {
    --color-bg: #011224;
    --color-bg-alt: #081E36;
    --color-bg-input: #20344A;
    --color-text: rgba(255, 255, 255, 1);
    --color-text-semi-dim: rgba(255, 255, 255, 0.7);
    --color-gray: rgba(255, 255, 255, 0.5);
    --color-white-40: rgba(255, 255, 255, 0.4);
    --color-text-dim: rgba(255, 255, 255, 0.2);
    --color-text-very-dim: rgba(255, 255, 255, 0.3);
    --color-text-super-dim: rgba(255, 255, 255, 0.1);
    --color-red: #D51117;
    --color-red-semi-transparent: rgba(213, 17, 23, 0.4);
    --color-red-semi-dim: #FD554B;
    --color-blue: #0D2F68;
    --color-gold: #F5B300;

    --font-family-primary: 'Inter', sans-serif;
    --font-family-secondary: 'Bebas Neue', sans-serif;

    --container-width: 1400px;
    --container-padding-x: 30px;

    --transition-duration: 0.3s;
    --progress-bar-transition-duration: 0s; // sets in tiers.js. Here's just as reminder
}