@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg:not([class]) *[fill] {
  fill: currentColor;
}

svg:not([class]) *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueCyrillic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-bg: #011224;
  --color-bg-alt: #081E36;
  --color-text: rgba(255, 255, 255, 1);
  --color-text-semi-dim: rgba(255, 255, 255, 0.7);
  --color-gray: rgba(255, 255, 255, 0.5);
  --color-white-40: rgba(255, 255, 255, 0.4);
  --color-text-dim: rgba(255, 255, 255, 0.2);
  --color-text-very-dim: rgba(255, 255, 255, 0.3);
  --color-text-super-dim: rgba(255, 255, 255, 0.1);
  --color-red: #D51117;
  --color-red-semi-transparent: rgba(213, 17, 23, 0.4);
  --color-red-semi-dim: #FD554B;
  --color-blue: #0D2F68;
  --color-gold: #F5B300;
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Bebas Neue", sans-serif;
  --container-width: 1400px;
  --container-padding-x: 30px;
  --transition-duration: 0.3s;
  --progress-bar-transition-duration: 0s;
}

body {
  height: 4000px;
  background-color: var(--color-bg);
  font-family: var(--font-family-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a, button, input {
  transition: all var(--transition-duration);
}

h2, h3 {
  font-family: var(--font-family-secondary);
  font-weight: 400;
  line-height: 100%;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}
@media (width < 551px) {
  .container {
    --container-padding-x: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (width < 768px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (width > 767px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (width < 1025px) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (width > 1024px) {
  .desktop-hidden {
    display: none !important;
  }
}

.red-text {
  color: var(--color-red-semi-dim);
}

.soc1al-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  background-color: var(--color-text-dim);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  color: var(--color-text);
}
@media (hover: hover) {
  .soc1al-link:hover {
    background-color: var(--color-red);
  }
}
@media (hover: none) {
  .soc1al-link:active {
    background-color: var(--color-red);
  }
}
.soc1al-link--big {
  height: 70px;
  width: 70px;
}
@media (width < 1100px) {
  .soc1al-link--big {
    height: 43px;
    width: 43px;
  }
}
.soc1al-link--big svg {
  height: 28px;
  width: 28px;
}
@media (width < 1100px) {
  .soc1al-link--big svg {
    height: 20px;
    width: 20px;
  }
}

.button {
  padding: 12px 16px;
  background-color: var(--color-text-super-dim);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: none;
  border-radius: 50px;
  color: var(--color-text);
  font-size: 14px;
  line-height: 120%;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-red);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-red);
  }
}
.button--big {
  padding: 24px 40px;
  font-size: 18px;
}
@media (width < 1100px) {
  .button--big {
    padding: 12px 20px;
    font-size: 16px;
  }
}
@media (width < 350px) {
  .button--big {
    font-size: 14px;
  }
}
.button--gradient {
  background: linear-gradient(120deg, var(--color-blue), var(--color-red));
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.section__title {
  color: var(--color-text);
  font-size: 70px;
  line-height: 100%;
}
@media (width < 1025px) {
  .section__title {
    font-size: 40px;
  }
}
@media (width < 551px) {
  .section__title {
    font-size: 24px;
  }
}

.header {
  --headerPaddingY: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-block: var(--headerPaddingY);
}
@media (width < 1025px) {
  .header {
    position: static;
    border-bottom: 1px solid var(--color-text-dim);
  }
}
.header__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (width < 1150px) {
  .header__inner {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (width < 1025px) {
  .header__inner {
    justify-content: space-between;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (width < 1025px) {
  .header__links {
    width: auto;
  }
}
.header__burger-button {
  padding: 8px;
  background-color: transparent;
  border: none;
  color: var(--color-text);
}
@media (hover: hover) {
  .header__burger-button:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header__burger-button:active {
    color: var(--color-red);
  }
}
.header__burger-button svg {
  display: block;
}

.header-logo {
  display: block;
  height: 80px;
  width: 80px;
}
@media (width < 1150px) {
  .header-logo {
    height: 50px;
    width: 50px;
  }
}
.header-logo__image {
  height: 100%;
  width: 100%;
}

.header-nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (width < 1150px) {
  .header-nav__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.header-nav__link {
  display: block;
  padding-block: 10px;
  color: var(--color-text-semi-dim);
  font-weight: 600;
}
@media (hover: hover) {
  .header-nav__link:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header-nav__link:active {
    color: var(--color-red);
  }
}

.header-contacts {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.header-contacts__tel {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 24px;
}
@media (hover: hover) {
  .header-contacts__tel:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header-contacts__tel:active {
    color: var(--color-red);
  }
}
.header-contacts__link:not(:last-child) {
  margin-right: 8px;
}

.hero {
  background-image: url("../images/hero-bg.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  color: var(--color-text);
}
@media (width > 1800px) {
  .hero {
    background-position: center -100px;
  }
}
@media (width < 1150px) {
  .hero {
    background-size: auto 100%;
  }
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 234px;
  padding-bottom: 233px;
}
@media (width < 1600px) {
  .hero__top {
    padding-top: 180px;
    padding-bottom: 150px;
  }
}
@media (width < 1025px) {
  .hero__top {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (width < 551px) {
  .hero__top {
    align-items: stretch;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.hero__title {
  margin-bottom: 8px;
  font-size: 64px;
  text-align: center;
}
@media (width < 1300px) {
  .hero__title {
    font-size: 48px;
  }
}
@media (width < 551px) {
  .hero__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.hero__text {
  max-width: 663px;
  margin-bottom: 46px;
  font-size: 24px;
  text-align: center;
}
@media (width < 1300px) {
  .hero__text {
    font-size: 20px;
  }
}
@media (width < 551px) {
  .hero__text {
    margin-bottom: 24px;
    font-size: 16px;
  }
}
.hero__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #344150;
}
@media (width < 920px) {
  .hero__bottom {
    border: none;
  }
}
@media (width < 551px) {
  .hero__bottom {
    padding-bottom: 24px;
  }
}

@media (width < 920px) {
  .hero-advantages {
    width: 100%;
  }
}
.hero-advantages__list {
  display: flex;
  align-items: center;
}
@media (width < 920px) {
  .hero-advantages__list {
    justify-content: center;
  }
}
.hero-advantages__item:not(:last-child) {
  padding-right: 40px;
  border-right: 1px solid var(--color-text-dim);
}
@media (width < 551px) {
  .hero-advantages__item:not(:last-child) {
    padding-right: 8px;
  }
}
.hero-advantages__item:not(:first-child) {
  padding-left: 40px;
}
@media (width < 551px) {
  .hero-advantages__item:not(:first-child) {
    padding-left: 8px;
  }
}
.hero-advantages__stats-count {
  margin-bottom: 4px;
  font-family: var(--font-family-secondary);
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}
@media (width < 551px) {
  .hero-advantages__stats-count {
    font-size: 18px;
  }
}
.hero-advantages__stats-count.rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.hero-advantages__stats-count.rating span {
  flex-shrink: 0;
}
.hero-advantages__stats-count .plus {
  font-family: var(--font-family-primary);
}
.hero-advantages__stats-description {
  font-size: 14px;
  color: var(--color-gray);
  line-height: 100%;
  text-align: center;
}

.hero-promo {
  max-width: 325px;
  padding: 16px;
  background-color: var(--color-bg-alt);
  border-radius: 28px;
}
@media (width < 920px) {
  .hero-promo {
    display: none;
  }
}
.hero-promo__text {
  margin-bottom: 24px;
  font-size: 24px;
}
.hero-promo__text--big {
  font-size: 2em;
  font-weight: 900;
}
.hero-promo__button {
  width: 100%;
  line-height: 140%;
}

.manufacturers {
  opacity: 0.5;
  padding-block: 12px;
  overflow: hidden;
}
@media (width < 768px) {
  .manufacturers {
    padding-block: 24px;
  }
}
.manufacturers__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (width > 1830px) {
  .manufacturers__list {
    justify-content: space-between;
  }
}
@media (width < 768px) {
  .manufacturers__list {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.manufacturers__item {
  flex-shrink: 0;
}
.manufacturers__image {
  height: 100px;
  width: 100px;
}
@media (width < 768px) {
  .manufacturers__image {
    height: 50px;
    width: 50px;
  }
}

.tiers {
  padding-top: 40px;
  margin-bottom: 80px;
}
@media (width < 768px) {
  .tiers {
    padding-top: 0;
  }
}
.tiers__inner {
  --tiersInnerPaddingX: 80px;
  padding-block: 80px;
  padding-inline: var(--tiersInnerPaddingX);
  background-image: url("../images/tiers-bg.png");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  border: 1px solid var(--color-text-super-dim);
  border-radius: 28px;
}
@media (width < 1300px) {
  .tiers__inner {
    --tiersInnerPaddingX: 40px;
    padding-block: 40px;
  }
}
@media (width < 768px) {
  .tiers__inner {
    border: none;
    border-radius: 16px;
  }
}
@media (width < 551px) {
  .tiers__inner {
    --tiersInnerPaddingX: 12px;
    padding-block: 16px;
  }
}
.tiers__title {
  margin-bottom: 8px;
  text-align: center;
}
.tiers__description {
  max-width: 504px;
  margin-bottom: 80px;
  margin-inline: auto;
  color: var(--color-gray);
  font-size: 18px;
  text-align: center;
}
@media (width < 1025px) {
  .tiers__description {
    margin-bottom: 30px;
    font-size: 16px;
  }
}
@media (width < 768px) {
  .tiers__description {
    margin-bottom: 16px;
  }
}
@media (width < 551px) {
  .tiers__description {
    font-size: 14px;
  }
}
.tiers__body {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-bottom: 80px;
}
@media (width < 1300px) {
  .tiers__body {
    margin-bottom: 40px;
  }
}
@media (width < 768px) {
  .tiers__body {
    flex-direction: row;
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
}
.tiers__progress-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.1fr;
  -moz-column-gap: 24px;
       column-gap: 24px;
  flex-shrink: 0;
}
@media (width < 768px) {
  .tiers__progress-list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (width < 551px) {
  .tiers__progress-list {
    row-gap: 4px;
  }
}
.tiers__progress-item {
  --progressBarInnerHeight: 100%;
  --progressBarInnerWidth: 0%;
  --progressBarInnerTransition: 0s;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (width < 768px) {
  .tiers__progress-item {
    --progressBarInnerHeight: 0%;
    --progressBarInnerWidth: 100%;
    flex-direction: column;
    row-gap: 10px;
  }
}
@media (width < 551px) {
  .tiers__progress-item {
    row-gap: 4px;
  }
}
.tiers__progress-item--last {
  margin-right: calc(var(--tiersInnerPaddingX) * -1);
}
@media (width < 768px) {
  .tiers__progress-item--last {
    margin-right: 0;
  }
}
.tiers__progress-item.active {
  --progressBarInnerWidth: 100%;
  --progressBarInnerTransition: var(--progress-bar-transition-duration);
}
@media (width < 768px) {
  .tiers__progress-item.active {
    --progressBarInnerHeight: 100%;
  }
}
.tiers__progress-image {
  flex-shrink: 0;
}
@media (width < 1025px) {
  .tiers__progress-image {
    height: 35px;
    width: 35px;
  }
}
.tiers__progress-bar {
  height: 2px;
  width: 100%;
  background-color: var(--color-text-dim);
}
@media (width < 768px) {
  .tiers__progress-bar {
    height: 20px;
    width: 2px;
  }
}
@media (width < 551px) {
  .tiers__progress-bar {
    height: 16px;
  }
}
.tiers__progress-bar-inner {
  height: var(--progressBarInnerHeight);
  width: var(--progressBarInnerWidth);
  background-color: var(--color-red);
  transition: width, height, var(--progressBarInnerTransition) linear;
}
.tiers__cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.1fr;
  -moz-column-gap: 57px;
       column-gap: 57px;
}
@media (width < 768px) {
  .tiers__cards-list {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}
.tiers__buttons {
  display: flex;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}

.tier-card {
  color: var(--color-text-semi-dim);
  transition: color, var(--transition-duration);
}
.tier-card.active {
  color: var(--color-text);
}
.tier-card__title {
  margin-bottom: 11px;
  font-size: 32px;
}
@media (width < 1025px) {
  .tier-card__title {
    font-size: 24px;
  }
}
@media (width < 551px) {
  .tier-card__title {
    margin-bottom: 4px;
    font-size: 16px;
  }
}
.tier-card__text {
  font-size: 16px;
}
@media (width < 1025px) {
  .tier-card__text {
    font-size: 14px;
  }
}

.tiers-label {
  position: relative;
  height: 99px;
  padding-left: 55px;
  padding-right: 58px;
}
@media (width < 768px) {
  .tiers-label {
    height: 65px;
    padding-left: 12px;
    padding-right: 12px;
  }
}
.tiers-label::after {
  content: "";
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  background-color: var(--color-red);
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  transform: skewY(-3.82deg) translateY(-50%);
  z-index: -1;
}
@media (width < 1025px) {
  .tiers-label::after {
    translate: 0 20%;
  }
}
@media (width < 768px) {
  .tiers-label::after {
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}
.tiers-label__content {
  position: absolute;
  top: 14px;
  left: 80px;
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 11px;
       column-gap: 11px;
}
@media (width < 768px) {
  .tiers-label__content {
    top: 10px;
    left: 28px;
  }
}
@media (width < 551px) {
  .tiers-label__content {
    top: 5px;
    left: 20px;
  }
}
.tiers-label__text {
  color: var(--color-text);
  font-size: 14px;
}
.tiers-label__paragraph:first-child {
  font-size: 24px;
  line-height: 100%;
}
@media (width < 1025px) {
  .tiers-label__paragraph:first-child {
    font-size: 18px;
  }
}
@media (width < 768px) {
  .tiers-label__paragraph:first-child {
    font-size: 14px;
  }
}
.tiers-label__paragraph--big {
  font-size: 1.3em;
  font-weight: 900;
}
.tiers-label__link {
  padding: 8px 16px;
  background-color: var(--color-text-very-dim);
  border-radius: 30px;
  color: var(--color-text);
}
@media (hover: hover) {
  .tiers-label__link:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .tiers-label__link:active {
    color: var(--color-red);
  }
}
.tiers-label__link svg {
  display: block;
}

.about {
  margin-bottom: 100px;
}
@media (width < 1025px) {
  .about {
    margin-bottom: 50px;
  }
}
@media (width < 768px) {
  .about {
    margin-bottom: 24px;
  }
}
.about__info {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 49px;
       column-gap: 49px;
  padding-bottom: 45px;
  border-bottom: 1px solid var(--color-text-dim);
  color: var(--color-text);
}
@media (width < 1025px) {
  .about__info {
    flex-direction: column-reverse;
    align-items: normal;
  }
}
@media (width < 768px) {
  .about__info {
    padding-bottom: 32px;
  }
}
.about__title {
  margin-bottom: 16px;
}
.about__description {
  margin-bottom: 40px;
  font-size: 18px;
}
@media (width < 768px) {
  .about__description {
    margin-bottom: 24px;
    font-size: 16px;
  }
}
.about__buttons {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media (width < 1025px) {
  .about__buttons {
    justify-content: center;
  }
}
@media (width < 551px) {
  .about__consult {
    width: 100%;
  }
}
.about__link {
  flex-shrink: 0;
}
.about__image-content {
  position: relative;
  flex-shrink: 0;
}
.about__image-content::after {
  content: "";
  display: block;
  position: absolute;
  left: 26px;
  right: 16px;
  bottom: -6px;
  height: 100px;
  background-color: var(--color-red);
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  transform: skewY(-1.3deg);
  z-index: -1;
}
.about__image {
  height: auto;
  border-radius: 28px;
  box-shadow: 0 24px 100px 0 var(--color-red-semi-transparent);
}
@media (width < 1200px) {
  .about__image {
    width: 480px;
  }
}
@media (width < 1025px) {
  .about__image {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (width < 768px) {
  .about__image {
    border-radius: 16px;
  }
}
.about__advantages {
  --gridColumnGap: 46px;
  display: grid;
  grid-template-columns: 1fr 2.75fr;
  -moz-column-gap: var(--gridColumnGap);
       column-gap: var(--gridColumnGap);
  padding-top: 32px;
}
@media (width < 1300px) {
  .about__advantages {
    --gridColumnGap: 10px;
  }
}
@media (width < 1100px) {
  .about__advantages {
    display: block;
  }
}
@media (width < 768px) {
  .about__advantages {
    padding-top: 24px;
  }
}
@media (width < 1100px) {
  .about__stats {
    margin-bottom: 24px;
  }
}
.about__stats-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (width < 1100px) {
  .about__stats-list {
    justify-content: space-around;
  }
}
@media (width < 551px) {
  .about__stats-list {
    justify-content: space-between;
  }
}
.about__stats-item {
  padding-right: 40px;
}
@media (width < 1300px) {
  .about__stats-item {
    padding-right: 20px;
  }
}
.about__stats-count {
  margin-bottom: 4px;
  font-family: var(--font-family-secondary);
  font-size: 48px;
  color: var(--color-red-semi-dim);
  line-height: 100%;
  text-align: center;
}
@media (width < 1300px) {
  .about__stats-count {
    font-size: 30px;
  }
}
@media (width < 551px) {
  .about__stats-count {
    font-size: 24px;
    text-align: left;
  }
}
.about__stats-description {
  font-size: 14px;
  color: var(--color-gray);
  line-height: 100%;
  text-align: center;
}
.about__facts-list {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  -moz-column-gap: var(--gridColumnGap);
       column-gap: var(--gridColumnGap);
}
@media (width < 910px) {
  .about__facts-list {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
  }
}
.about__facts-item {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: flex-start;
}
.about__facts-description {
  color: var(--color-text);
}
@media (width < 1300px) {
  .about__facts-description {
    font-size: 14px;
  }
}

.bait {
  margin-bottom: 60px;
  color: var(--color-text);
  overflow: hidden;
}
@media (width < 1025px) {
  .bait {
    margin-bottom: 30px;
  }
}
@media (width < 768px) {
  .bait {
    margin-bottom: 0;
  }
}
.bait__inner {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.bait__top-list, .bait__bottom-list {
  display: flex;
  justify-content: center;
  padding-block: 8px;
}
@media (width < 551px) {
  .bait__top-list, .bait__bottom-list {
    justify-content: flex-end;
  }
}
.bait__top-list {
  padding-left: 90px;
  background-color: var(--color-red);
}
@media (width < 551px) {
  .bait__top-list {
    margin-right: -10px;
  }
}
.bait__bottom-list {
  padding-right: 90px;
  background-color: var(--color-bg-alt);
}
@media (width < 551px) {
  .bait__bottom-list {
    padding-right: 0;
  }
}
.bait__item {
  flex-shrink: 0;
  padding-inline: 16px;
}
@media (width < 551px) {
  .bait__item {
    font-size: 14px;
  }
}
.bait__item:not(:last-child) {
  border-right: 1px solid var(--color-white-40);
}

.reviews {
  padding-top: 40px;
  padding-bottom: 100px;
}
@media (width < 1025px) {
  .reviews {
    padding-bottom: 60px;
  }
}
@media (width < 768px) {
  .reviews {
    padding-bottom: 40px;
  }
}
.reviews__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 40px;
}
@media (width < 1025px) {
  .reviews__header {
    padding-top: 20px;
    margin-bottom: 30px;
  }
}
@media (width < 768px) {
  .reviews__header {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 16px;
    padding-top: 0px;
    margin-bottom: 24px;
  }
}
.reviews__title-rating {
  display: inline-flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  margin-left: 24px;
}
@media (width < 768px) {
  .reviews__title-rating {
    -moz-column-gap: 8px;
         column-gap: 8px;
    margin-left: 12px;
  }
}
.reviews__title-rating::before {
  content: "";
  display: block;
  height: 0.72em;
  aspect-ratio: 1;
  background-image: url("../images/icons/star-big.png");
  background-size: cover;
}
.reviews__refs {
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
@media (width < 768px) {
  .reviews__refs {
    width: 100%;
  }
}
.reviews__refs::-webkit-scrollbar {
  width: 0;
}
.reviews__refs-list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.reviews__refs-item {
  flex-shrink: 0;
}
.reviews__refs-link {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: var(--color-gray);
}
@media (hover: hover) {
  .reviews__refs-link:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .reviews__refs-link:active {
    color: var(--color-red);
  }
}
.reviews__body {
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.reviews__body::-webkit-scrollbar {
  height: 0;
}
.reviews__list-row {
  --gap: 16px;
  display: flex;
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  width: -moz-fit-content;
  width: fit-content;
}
@media (width < 768px) {
  .reviews__list-row {
    --gap: 12px;
  }
}
.reviews__list-row:not(:last-child) {
  margin-bottom: var(--gap);
}

.review-card {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: 338px;
  padding: 16px 24px;
  background-color: var(--color-bg-alt);
  border-radius: 16px;
}
@media (width < 768px) {
  .review-card {
    justify-content: flex-start;
    row-gap: 12px;
    width: 266px;
    padding: 16px;
  }
}
.review-card__image {
  flex-shrink: 0;
}
.review-card__full-name {
  color: var(--color-text);
}
@media (width < 768px) {
  .review-card__full-name * {
    display: inline-block;
  }
}
@media (width < 768px) {
  .review-card__vertical {
    display: flex;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.review-card__rating {
  display: flex;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.review-card__rating-star {
  color: var(--color-text-super-dim);
}
.review-card__rating-star--marked {
  color: var(--color-gold);
}
.review-card__date {
  font-size: 14px;
  color: var(--color-gray);
}

.vk-clips {
  --paddingTop: 60px;
  --paddingBottom: 100px;
  position: relative;
  padding-top: var(--paddingTop);
  padding-bottom: var(--paddingBottom);
}
.vk-clips::after {
  content: "";
  position: absolute;
  display: block;
  top: var(--paddingTop);
  left: 0;
  right: 0;
  bottom: var(--paddingBottom);
  z-index: -1;
  transform: skewY(-3deg);
  background: linear-gradient(120deg, var(--color-blue), var(--color-red));
}
.vk-clips__header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
}
.vk-clips__title {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.vk-clips__title::before {
  content: "";
  display: block;
  height: 1em;
  aspect-ratio: 1;
  background-image: url("../images/icons/vk-clips.svg");
  background-size: cover;
}
.vk-clips__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media (width < 551px) {
  .vk-clips__link {
    justify-content: center;
    width: 100%;
  }
}
.vk-clips__body {
  padding-inline: var(--container-padding-x);
  margin-bottom: 24px;
  overflow-x: auto;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
@media (width < 551px) {
  .vk-clips__body {
    --container-padding-x: 16px;
  }
}
.vk-clips__body::-webkit-scrollbar {
  height: 0;
}
.vk-clips__list {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
}
@media (width < 551px) {
  .vk-clips__list {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.vk-clips__item {
  flex-shrink: 0;
  width: 150px;
}
.vk-clips__mobile-link-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}/*# sourceMappingURL=styles.css.map */