@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueCyrillic.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-bg: #011224;
  --color-bg-alt: #081E36;
  --color-text: rgba(255, 255, 255, 1);
  --color-text-semi-dim: rgba(255, 255, 255, 0.7);
  --color-gray: rgba(255, 255, 255, 0.5);
  --color-text-dim: rgba(255, 255, 255, 0.2);
  --color-text-super-dim: rgba(255, 255, 255, 0.1);
  --color-red: #D51117;
  --color-blue: #0D2F68;
  --color-red-semi-dim: #FD554B;
  --font-family-primary: "Inter", sans-serif;
  --font-family-secondary: "Bebas Neue", sans-serif;
  --container-width: 1400px;
  --container-padding-x: 30px;
  --transition-duration: 0.3s;
}

body {
  background-color: var(--color-bg);
  font-family: var(--font-family-primary);
  font-weight: 400;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

a, button, input {
  transition: all var(--transition-duration);
}

h2, h3 {
  font-family: var(--font-family-secondary);
  line-height: 120%;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
}
@media (width < 551px) {
  .container {
    --container-padding-x: 16px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media (width < 768px) {
  .mobile-hidden {
    display: none !important;
  }
}

@media (width > 767px) {
  .mobile-visible {
    display: none !important;
  }
}

@media (width < 1025px) {
  .tablet-hidden {
    display: none !important;
  }
}

@media (width > 1024px) {
  .desktop-hidden {
    display: none !important;
  }
}

.red-text {
  color: var(--color-red-semi-dim);
}

.soc1al-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  background-color: var(--color-text-dim);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 50%;
  color: var(--color-text);
}
@media (hover: hover) {
  .soc1al-link:hover {
    background-color: var(--color-red);
  }
}
@media (hover: none) {
  .soc1al-link:active {
    background-color: var(--color-red);
  }
}

.button {
  padding: 12px 16px;
  background-color: var(--color-text-super-dim);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  border: none;
  border-radius: 50px;
  color: var(--color-text);
  font-size: 14px;
}
@media (hover: hover) {
  .button:hover {
    background-color: var(--color-red);
  }
}
@media (hover: none) {
  .button:active {
    background-color: var(--color-red);
  }
}
.button--big {
  padding: 24px 40px;
  font-size: 18px;
}
.button--gradient {
  background: linear-gradient(120deg, var(--color-blue), var(--color-red));
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
}

.header {
  --headerPaddingY: 24px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-block: var(--headerPaddingY);
}
@media (width < 1025px) {
  .header {
    position: static;
    border-bottom: 1px solid var(--color-text-dim);
  }
}
.header__inner {
  display: flex;
  align-items: center;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (width < 1150px) {
  .header__inner {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (width < 1025px) {
  .header__inner {
    justify-content: space-between;
  }
}
.header__logo {
  flex-shrink: 0;
}
.header__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (width < 1025px) {
  .header__links {
    width: auto;
  }
}
.header__burger-button {
  padding: 8px;
  background-color: transparent;
  border: none;
  color: var(--color-text);
}
@media (hover: hover) {
  .header__burger-button:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header__burger-button:active {
    color: var(--color-red);
  }
}
.header__burger-button svg {
  display: block;
}

.header-logo {
  display: block;
  height: 80px;
  width: 80px;
}
@media (width < 1150px) {
  .header-logo {
    height: 50px;
    width: 50px;
  }
}
.header-logo__image {
  height: 100%;
  width: 100%;
}

.header-nav__list {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (width < 1150px) {
  .header-nav__list {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.header-nav__link {
  display: block;
  padding-block: 10px;
  color: var(--color-text-semi-dim);
  font-weight: 600;
}
@media (hover: hover) {
  .header-nav__link:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header-nav__link:active {
    color: var(--color-red);
  }
}

.header-contacts {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
  align-items: center;
}
.header-contacts__tel {
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: 24px;
}
@media (hover: hover) {
  .header-contacts__tel:hover {
    color: var(--color-red);
  }
}
@media (hover: none) {
  .header-contacts__tel:active {
    color: var(--color-red);
  }
}
.header-contacts__link:not(:last-child) {
  margin-right: 8px;
}

.hero {
  background-image: url("../images/hero.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  color: var(--color-text);
}
@media (width > 1800px) {
  .hero {
    background-position: center -100px;
  }
}
@media (width < 1150px) {
  .hero {
    background-size: auto 100%;
  }
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 234px;
  padding-bottom: 233px;
}
@media (width < 1600px) {
  .hero__top {
    padding-top: 180px;
    padding-bottom: 150px;
  }
}
@media (width < 1025px) {
  .hero__top {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (width < 551px) {
  .hero__top {
    align-items: stretch;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}
.hero__title {
  margin-bottom: 8px;
  font-size: 64px;
  text-align: center;
}
@media (width < 1300px) {
  .hero__title {
    font-size: 48px;
  }
}
@media (width < 551px) {
  .hero__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
}
.hero__text {
  max-width: 663px;
  margin-bottom: 46px;
  font-size: 24px;
  text-align: center;
}
@media (width < 1300px) {
  .hero__text {
    font-size: 20px;
  }
}
@media (width < 551px) {
  .hero__text {
    margin-bottom: 24px;
    font-size: 16px;
  }
}
@media (width < 1300px) {
  .hero__calc-button {
    padding: 12px 20px;
    font-size: 16px;
  }
}
.hero__bottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 40px;
  border-bottom: 1px solid #344150;
}
@media (width < 920px) {
  .hero__bottom {
    border: none;
  }
}
@media (width < 551px) {
  .hero__bottom {
    padding-bottom: 24px;
  }
}

@media (width < 920px) {
  .hero-advantages {
    width: 100%;
  }
}
.hero-advantages__list {
  display: flex;
  align-items: center;
}
@media (width < 920px) {
  .hero-advantages__list {
    justify-content: center;
  }
}
.hero-advantages__item:not(:last-child) {
  padding-right: 40px;
  border-right: 1px solid var(--color-text-dim);
}
@media (width < 551px) {
  .hero-advantages__item:not(:last-child) {
    padding-right: 8px;
  }
}
.hero-advantages__item:not(:first-child) {
  padding-left: 40px;
}
@media (width < 551px) {
  .hero-advantages__item:not(:first-child) {
    padding-left: 8px;
  }
}
.hero-advantages__stats-count {
  margin-bottom: 4px;
  font-family: var(--font-family-secondary);
  font-size: 48px;
  line-height: 100%;
  text-align: center;
}
@media (width < 551px) {
  .hero-advantages__stats-count {
    font-size: 18px;
  }
}
.hero-advantages__stats-count.rating {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.hero-advantages__stats-count.rating span {
  flex-shrink: 0;
}
.hero-advantages__stats-count .plus {
  font-family: var(--font-family-primary);
}
.hero-advantages__stats-description {
  font-size: 14px;
  color: var(--color-gray);
  line-height: 100%;
  text-align: center;
}

.hero-promo {
  max-width: 325px;
  padding: 16px;
  background-color: var(--color-bg-alt);
  border-radius: 28px;
}
@media (width < 920px) {
  .hero-promo {
    display: none;
  }
}
.hero-promo__text {
  margin-bottom: 24px;
  font-size: 24px;
}
.hero-promo__text--big {
  font-size: 2em;
  font-weight: 900;
}
.hero-promo__button {
  width: 100%;
}

.manufacturers {
  opacity: 0.5;
  padding-block: 12px;
  overflow: hidden;
}
@media (width < 768px) {
  .manufacturers {
    padding-block: 24px;
  }
}
.manufacturers__list {
  display: flex;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (width > 1830px) {
  .manufacturers__list {
    justify-content: space-between;
  }
}
@media (width < 768px) {
  .manufacturers__list {
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}
.manufacturers__item {
  flex-shrink: 0;
}
.manufacturers__image {
  height: 100px;
  width: 100px;
}
@media (width < 768px) {
  .manufacturers__image {
    height: 50px;
    width: 50px;
  }
}/*# sourceMappingURL=styles.css.map */