.hero-promo {
    max-width: 325px;
    padding: 16px;
    background-color: var(--color-bg-alt);
    border-radius: 28px;

    @include custom-width(920px) {
        display: none;
    }

    &__text {
        margin-bottom: 24px;
        font-size: 24px;

        &--big {
            font-size: 2em;
            font-weight: 900;
        }
    }

    &__button {
        width: 100%;
        line-height: 140%;
    }
}