.hero {
    background-image: url('../images/hero.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center top;
    color: var(--color-text);

    @include custom-width-above(1800px) {
        background-position: center -100px;
    }

    @include custom-width(1150px) {
        background-size: auto 100%;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 234px;
        padding-bottom: 233px;

        @include custom-width(1600px) {
            padding-top: 180px;
            padding-bottom: 150px;
        }

        @include tablet {
            padding-top: 100px;
            padding-bottom: 100px;
        }

        @include mobile-small {
            align-items: stretch;
            padding-top: 24px;
            padding-bottom: 24px;
        }
    }

    &__title {
        margin-bottom: 8px;
        font-size: 64px;
        text-align: center;

        @include custom-width(1300px) {
            font-size: 48px;
        }

        @include mobile-small {
            margin-bottom: 24px;
            font-size: 24px;
        }
    }

    &__text {
        max-width: 663px;
        margin-bottom: 46px;
        font-size: 24px;
        text-align: center;

        @include custom-width(1300px) {
            font-size: 20px;
        }

        @include mobile-small {
            margin-bottom: 24px;
            font-size: 16px;
        }
    }

    &__calc-button {
        @include custom-width(1300px) {
            padding: 12px 20px;
            font-size: 16px;
        }
    }

    &__bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        padding-bottom: 40px;
        border-bottom: 1px solid #344150;

        @include custom-width(920px) {
            border: none;
        }

        @include mobile-small {
            padding-bottom: 24px;
        }
    }
}